# Created by https://www.toptal.com/developers/gitignore/api/qt,qtcreator,cmake,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=qt,qtcreator,cmake,visualstudiocode
# 由 https://www.toptal.com/developers/gitignore/api/qt,qtcreator,cmake,visualstudiocode 创建
# 在 https://www.toptal.com/developers/gitignore?templates=qt,qtcreator,cmake,visualstudiocode 进行编辑

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
### CMake ###
CMakeLists.txt.用户
CMakeCache.txt
CMake文件
CMake脚本
测试
生成文件
cmake_安装.cmake
安装清单.txt
编译命令.json
CTest测试文件.cmake
_deps

### CMake Patch ###
# External projects
*-prefix/
### CMake 补丁 ###
# 外部项目
*-前缀/

### Qt ###
# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib
### Qt ###
# C++ 对象和库
*.slo
*.co
*。的
*。一个
*.la
*。较少的
*。所以
*。所以。*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl
# Qt-es
object_script.*.Release
object_script.*.调试
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.用户
*.专业用户.*
*.qbs.用户
*.qbs.用户。*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
用户界面_*.h
*.qmlc
*.jsc
生成文件*
*建造-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*
# Qt 单元测试
目标包装器。*

# QtCreator
*.autosave
# QtCreator
*.自动保存

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*
# QtCreator Qml
*.qmlproject.user
*.qmlproject.用户。*

# QtCreator CMake
CMakeLists.txt.user*
# QtCreator CMake
CMakeLists.txt.用户*

# QtCreator 4.8< compilation database
# QtCreator 4.8<编译数据库

# QtCreator local machine specific files for imported projects
*creator.user*
# 用于导入项目的 QtCreator 本地计算机特定文件
*创建者.用户*

*_qmlcache.qrc

### QtCreator ###
# gitignore for Qt Creator like IDE for pure C/C++ project without Qt
#
# Reference: http://doc.qt.io/qtcreator/creator-project-generic.html
### QtCreator ###
# gitignore for Qt Creator 就像 IDE，用于没有 Qt 的纯 C/C++ 项目
#
# 参考：http://doc.qt.io/qtcreator/creator-project-generic.html



# Qt Creator autogenerated files
# Qt Creator 自动生成的文件


# A listing of all the files included in the project
*.files
# 项目中包含的所有文件的列表
*.文件

# Include directories
*.includes
# 包含目录
*.包括

# Project configuration settings like predefined Macros
*.config
# 项目配置设置，例如预定义宏
*.config

# Qt Creator settings
*.creator
# Qt Creator 设置
*.creator

# User project settings
*.creator.user*
# 用户项目设置
*.创建者.用户*

# Qt Creator backups  # Qt Creator 备份

# Flags for Clang Code Model
*.cxxflags
*.cflags
# Clang 代码模型的标志
*.cxxflags
*.cflags


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.代码片段

# Local History for Visual Studio Code
.history/
# Visual Studio Code 的本地历史记录
。历史/

# Built Visual Studio Code Extensions
*.vsix
# 构建 Visual Studio 代码扩展
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
### VisualStudioCode 补丁 ###
# 忽略所有本地文件历史记录
。历史
.离子化物
ImageFeaturePointLabeling
output/*
origin_image
stitch
intrinsics/*
distort
build
# End of https://www.toptal.com/developers/gitignore/api/qt,qtcreator,cmake,visualstudiocode

# https://www.toptal.com/developers/gitignore/api/qt,qtcreator,cmake,visualstudiocode 结束